<a href="https://colab.research.google.com/github/21PA1A6137/my_website/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
X = df[['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].values

In [7]:
y = df['Species']

In [8]:
X_train , X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [9]:
print (" The shape of original feature set is : ",X.shape)
print("The shape of original class labels is", y.shape)
print(" The shape of Features in training data",X_train.shape)
print("The shape of class labels in training data",y_train.shape)
print(" The shape of Features in test data",X_test.shape)
print("The shape of class labels in test data",y_test.shape)

 The shape of original feature set is :  (150, 5)
The shape of original class labels is (150,)
 The shape of Features in training data (120, 5)
The shape of class labels in training data (120,)
 The shape of Features in test data (30, 5)
The shape of class labels in test data (30,)

In [10]:
m_dt = DecisionTreeClassifier()
m_dt = m_dt.fit(X_train,y_train)
y_predict_dt = m_dt.predict(X_test)

In [11]:
actual_predicted_dt = pd.DataFrame({'actual' : y_test , 'predicted':y_predict_dt })
actual_predicted_dt.head()

              actual        predicted
87   Iris-versicolor  Iris-versicolor
111   Iris-virginica   Iris-virginica
10       Iris-setosa      Iris-setosa
91   Iris-versicolor  Iris-versicolor
49       Iris-setosa      Iris-setosa

In [12]:
pd.DataFrame(
    confusion_matrix(y_test, y_predict_dt),
    columns = ["Iris-setosa","Iris-versicolor","Iris-virginica"],
    index=["Iris-setosa","Iris-versicolor","Iris-virginica"]
)

                 Iris-setosa  Iris-versicolor  Iris-virginica
Iris-setosa               10                0               0
Iris-versicolor            0               13               0
Iris-virginica             0                0               7

In [13]:
print("Accuracy of decison tree is " ,metrics.accuracy_score(y_test, y_predict_dt)*100)

Accuracy of decison tree is  100.0