<a href="https://colab.research.google.com/github/21PA1A6137/my_website/blob/main/student_details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Copy of students_placement_data.csv')
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,21.20,0,yes,Placed
2,3,F,A,67.0,40.2,NaN,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,44.0,65.5,42.52,17,yes,Not placed

In [ ]:
# basic characteristics of data

df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,116.000000,117.000000
mean,59.000000,80.153362,80.535299,62.662672,4.111111
std,33.919021,9.462320,11.818567,12.591167,6.335148
min,1.000000,44.000000,40.200000,21.200000,0.000000
25%,30.000000,75.875000,73.400000,54.175000,0.000000
50%,59.000000,82.745000,83.600000,63.885000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

# New Section

In [ ]:
# check for the missing values
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                      True
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [ ]:
df['SSC Percentage']

In [ ]:
df['SSC Percentage'].fillna(80.153362,inplace=True)

In [ ]:
new_data = df['SSC Percentage']
new_data.dropna(inplace=True)
j=0
for i in new_data:
  j+=i
print(j/len(new_data))

80.15336206837605

In [ ]:
df['B.Tech_percentage'].fillna(62.662672,inplace=True)

In [ ]:
df['registered_for_ Placement_Training'].fillna("yes",inplace=True)

In [ ]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [ ]:
df.dtypes

Roll No                                 int64
Gender                                 object
Section                                object
SSC Percentage                        float64
inter_Diploma_percentage              float64
B.Tech_percentage                     float64
Backlogs                                int64
registered_for_ Placement_Training     object
placement status                       object
dtype: object

In [ ]:
df['Gender'].value_counts()

M    68
F    49
Name: Gender, dtype: int64

In [ ]:
df["SSC Percentage"]=df["SSC Percentage"].replace(to_replace=np.nan,value=np.mean(df["SSC Percentage"]))
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.000000,18,NO,Not placed
1,2,F,A,89.0,92.4,21.200000,0,yes,Placed
2,3,F,A,67.0,40.2,62.662672,13,yes,Not placed
3,4,M,A,71.0,70.4,36.470000,17,yes,Not placed
4,5,M,A,44.0,65.5,42.520000,17,yes,Not placed

In [ ]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [ ]:
df.dtypes

Roll No                                 int64
Gender                                 object
Section                                object
SSC Percentage                        float64
inter_Diploma_percentage              float64
B.Tech_percentage                     float64
Backlogs                                int64
registered_for_ Placement_Training     object
placement status                       object
dtype: object

In [ ]:
df['Gender'].value_counts()

M    68
F    49
Name: Gender, dtype: int64

In [ ]:
df['placement status'].value_counts()

Not placed    78
Placed        39
Name: placement status, dtype: int64

In [ ]:
df['SSC Percentage'].value_counts()

87.33    4
72.00    3
89.00    3
86.00    3
83.50    3
        ..
64.00    1
72.50    1
90.30    1
90.66    1
80.00    1
Name: SSC Percentage, Length: 88, dtype: int64

In [ ]:
! pip install plotly==4.4.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plotly==4.4.0
  Downloading plotly-4.4.0-py2.py3-none-any.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 56.1 MB/s eta 0:00:00
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from plotly==4.4.0) (1.15.0)
Installing collected packages: retrying, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.13.1
    Uninstalling plotly-5.13.1:
      Successfully uninstalled plotly-5.13.1
Successfully installed plotly-4.4.0 retrying-1.3.4

In [ ]:
import plotly.express as px
cut_counts = df['Gender'].value_counts()
fig =px.bar(x=cut_counts.index, y=cut_counts.values , width = 600) 
fig.show()

In [ ]:
pd.crosstab(index=df['Gender'], columns= df['placement status'])

placement status  Not placed  Placed
Gender
F                         20      29
M                         58      10

In [ ]:
pd.crosstab(index=df['SSC Percentage'], columns= df['placement status'])

placement status  Not placed  Placed
SSC Percentage
44.00                      1       0
47.80                      1       0
50.66                      1       0
55.66                      1       0
60.83                      1       0
...                      ...     ...
90.66                      0       1
91.00                      1       1
92.33                      0       1
92.66                      0       1
93.66                      0       1

[88 rows x 2 columns]

In [ ]:
pd.crosstab(index=df['B.Tech_percentage'], columns= df['placement status'])

placement status   Not placed  Placed
B.Tech_percentage
21.20                       0       1
31.20                       1       0
33.77                       1       0
35.84                       1       0
36.47                       1       0
...                       ...     ...
80.47                       0       1
81.10                       0       1
83.38                       0       1
85.39                       0       1
88.10                       0       1

[105 rows x 2 columns]

In [ ]:
pd.crosstab(index=df[ 'Section'], columns= df['placement status'])

placement status  Not placed  Placed
Section
A                         37      23
B                         41      16

In [ ]:
pd.pivot_table(df,values = "B.Tech_percentage", index = "Gender" , columns='placement status' , aggfunc = np.mean)

placement status  Not placed     Placed
Gender
F                  66.360526  73.531379
M                  54.825345  69.574000

In [ ]:
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,21.20,0,yes,Placed
2,3,F,A,67.0,40.2,NaN,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,44.0,65.5,42.52,17,yes,Not placed

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = data["Gender","Section","SSC Percentage","inter_Diploma_percentage","B.Tech_percentage"              
 ]